#map {
  height: 400px;
  width: 100%;
}

.navbar {
  margin-left: -64px;
  margin-right: -64px;
  padding-left: 64px;
  background-color: #f2f2f2;
  opacity: 0.8;
}

.cw-flow-status {
  min-height: 50px;
  font-size: 16px;
}

.cw-flow-status > a {
  position:relative;
  left: 0;
  display: block;
}


.link-container {
  height: 20px;
}

.link-container  > a {
  padding: 0;
  height: 20px;
  width: 100px;
  margin: 0;
}

.link-container  > a:hover {
  color: #fff;
  text-decoration: none;
}