body {
    margin: 0;
}

svg.graph {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.axis path,
.axis line {
    fill: none;
    stroke: darkblue;
    shape-rendering: crispEdges;
}

button {
    position: absolute;
    right: 0;
}